Repository iCarto/sepraps: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, prettier

.pre-commit-config.yaml:

fail_fast: false
repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      # Ruff version.
      rev: v0.1.9
      hooks:
          # Run the linter.
          - id: ruff
            types_or: [python, pyi, jupyter]
            args: [--fix]
            verbose: true
          # Run the formatter.
          - id: ruff-format
            types_or: [python, pyi, jupyter]
            verbose: true

    - repo: local
      hooks:
          - id: stylelint
            name: stylelint
            entry: npx stylelint
            args: [--fix, --ignore-path, .ignore]
            language: system
            types: [file]
            files: \.(vue|htm|html|css|sss|less|scss|sass|mak|mako|jinja2)$
            verbose: true

          - id: prettier
            name: prettier
            entry: npx prettier
            args: [--write, --ignore-path, .ignore]
            language: system
            types: [file]
            files: \.(js|json|md|vue|yaml|yml)$ # html
            verbose: true

          - id: html-beautify
            name: html-beautify
            entry: npx html-beautify
            args: []
            language: system
            types: [file]
            files: \.(htm|html|mak|mako|jinja2)$
            verbose: true
            stages: [manual]

          - id: shfmt
            name: shfmt
            entry: shfmt
            args: [-l, -w, -i, "4", -bn, -sr, -ci]
            language: system
            types: [shell]
            verbose: true

          - id: shellcheck
            name: shellcheck
            entry: shellcheck
            language: system
            types: [shell]
            verbose: true

Add new layers to projects map and include percentages discriminators
  back/app/serializers/project_serializer.py
  front/src/Theme.js
  front/src/project/container/ListProjectsPage.js
  front/src/project/geo/ProjectLayer.js
Due: prettier

Projects map for contracts
  front/src/base/entity/components/presentational/EntityListMap.js
  front/src/contract/container/ListContractProjects.js
  front/src/contract/container/ViewContractProjectsSubPage.js
Due: prettier

Show projects for financing programs
  front/src/financingprogram/container/ListFinancingProgramProjects.js
  front/src/financingprogram/container/ViewFinancingProgramProjectsSubPage.js
  front/src/financingprogram/container/index.js
  front/src/financingprogram/menu/FinancingProgramSubPageMenu.js
  front/src/financingprogram/module/FinancingProgramRoutes.js
Due: prettier

Fix some errors when no data is present for certifications or connections
  back/app/views/certification_stats_views.py
  back/app/views/project_stats_views.py
Due: none

New organization for contracts and projects menu and pages
  front/src/contact/container/ViewContactsList.js
  front/src/contract/container/ViewContractBudgetSubPage.js
  front/src/contract/container/ViewContractGeneralInforSubPage.js
  front/src/contract/container/ViewContractStaffSubPage.js
  front/src/contract/container/ViewOrUpdateContractContent.js
  front/src/contract/container/index.js
  front/src/contract/container/monitoring/UpdateContractContactPanel.js
  front/src/contract/menu/ContractSubPageMenu.js
  front/src/contract/module/ContractRoutes.js
  front/src/contract/presentational/section/ContractContactsSection.js
  front/src/project/container/ViewOrUpdateProjectGeneralDataContent.js
  front/src/project/container/ViewProjectGeneralInfoSubPage.js
  front/src/project/container/ViewProjectSummaryContent.js
  front/src/project/container/ViewProjectSummarySubPage.js
  front/src/project/container/index.js
  front/src/project/menu/ProjectSubPageMenu.js
  front/src/project/module/ProjectRoutes.js
  front/src/project/presentational/section/ProjectGeneralDataSection.js
  front/src/project/presentational/section/ProjectGeneralInfoSection.js
  front/src/project/presentational/section/index.js
  scripts/data/fixtures_data.json
Due: prettier

TEST - test environment style changes
  front/src/base/ui/header/HeaderHero.js
Due: prettier

Add unnaccent for searching localities
  back/app/views/project_viewset.py
  back/back/settings.py
  server/drop_and_create_db.sh
Due: none

Fix problem with trainings calcs for project progress
  scripts/views/views.sql
Due: none

TEMP: fix problem adding 1 month to a date due to timezone
  front/src/base/format/utilities/DateUtil.js
Due: prettier

Fix error removing total row
  front/src/payment/presentational/chart/PaymentFinancialChartUtil.js
Due: prettier

Fix error on alert checking certification amounts without active filter
  back/app/views/notifications_views.py
Due: none

Fix error when input is invalid date
  front/src/base/format/utilities/DateUtil.js
Due: prettier

Fix error on alert for certifications
  back/app/views/notifications_views.py
Due: none

Vite migration: Basic configuration for Vite
  front/.eslintrc.cjs
  front/.gitignore
  front/index.html
  front/jsconfig.json
  front/package.json
  front/public/index.html
  front/src/App.css
  front/src/App.jsx
  front/src/main.jsx
  front/vite.config.js
Due: stylelint, prettier

Vite Migration: Adds plugin 'vite-tsconfig-paths' to allow absolute imports
  front/package.json
  front/tsconfig.json
Due: prettier

Vite Migration: Adds package-lock.json
  front/package-lock.json
Due: prettier

Vite Migration: Minor fixes
  front/src/base/entity/components/form/EntityFormGeneralDataSection.jsx
  front/src/base/ui/headings/components/index.js
  front/src/contract/presentational/form/ContractSupervisionAreaForm.jsx
  front/src/project/presentational/ProjectsTable.jsx
Due: prettier

Vite Migration: start.sh uses 'run dev'
  scripts/start.sh
Due: none

Vite Migration: JS assets are build in 'dist' folder instead of 'build' folder
  scripts/install.link_back_front.sh
  scripts/install.sh
Due: none

Changes in vite config
  front/tsconfig.json
  package.json
Due: prettier

Update .gitignore
  .gitignore
  back/.gitignore
  package-lock.json
Due: prettier

Show project works in transfer list for projects
  front/src/base/list/components/TransferList.jsx
  front/src/project/presentational/ProjectListItemButton.jsx
Due: none

Create components flag for project creation
  back/app/models/project.py
  back/app/models/project_work.py
  back/app/serializers/project_serializer.py
  back/app/serializers/project_work_serializer.py
Due: none

Create components check in project creation form
  front/src/project/presentational/form/ProjectCreationFormFields.jsx
  front/src/project/presentational/form/ProjectForm.jsx
  front/src/project/presentational/form/ProjectFormGeneralDataFields.jsx
  front/src/project/presentational/form/ProjectFormProjectWorks.jsx
  front/src/project/presentational/form/ProjectModificationForm.jsx
  front/src/project/presentational/form/index.js
Due: prettier

Allow emtpy option for status in components
  front/src/buildingComponentMonitoring/presentational/form/BuildingComponentMonitoringFormDataFields.jsx
  front/src/socialComponentMonitoring/presentational/form/SocialComponentMonitoringFormDataFields.jsx
Due: none

Show historic monitoring for building components
  back/app/views/building_component_monitoring_viewset.py
  front/src/base/ui/section/components/SectionBox.jsx
  front/src/buildingComponentMonitoring/container/ViewBuildingComponentsHistoricTable.jsx
  front/src/buildingComponentMonitoring/container/ViewOrUpdateBuildingComponentMonitoringDataContent.jsx
  front/src/buildingComponentMonitoring/container/index.js
  front/src/buildingComponentMonitoring/data/BuildingComponentsTableColumns.jsx
  front/src/buildingComponentMonitoring/data/index.js
  front/src/buildingComponentMonitoring/presentational/BuildingComponentTable.jsx
  front/src/buildingComponentMonitoring/presentational/index.js
  front/src/buildingComponentMonitoring/service/BuildingComponentMonitoringService.js
Due: prettier

New name field for trainings
  back/app/models/social_component_training.py
  back/app/serializers/social_component_training_serializer.py
  back/app/views/project_stats_views.py
  front/src/socialComponent/data/TrainingsTotalsTableColumns.js
  front/src/training/container/ViewOrUpdateTrainingDataContent.jsx
  front/src/training/model/Training.js
  front/src/training/presentational/form/TrainingForm.jsx
  front/src/training/presentational/form/TrainingFormDataFields.jsx
Due: prettier

WIP - Fix documents fixtures
  back/documents/management/__init__.py
  back/documents/management/commands/__init__.py
  back/documents/management/commands/create_medianodes.py
  scripts/data/fixtures_building_components.json
  scripts/data/fixtures_contrato_2019_13.json
  scripts/data/fixtures_contrato_2019_15.json
  scripts/data/fixtures_contrato_2020_08.json
  scripts/data/fixtures_contrato_2020_09.json
  scripts/data/fixtures_contrato_2020_10.json
  scripts/data/fixtures_contrato_2022_04.json
  scripts/data/fixtures_contrato_2023_11.json
  scripts/data/fixtures_documents.json
  scripts/data/fixtures_informes_viaje.json
  scripts/data/set_featured_images.py
  scripts/fixtures.sh
  scripts/reset_and_create_db.sh
Due: prettier

Fix project filter in trainings table
  back/app/views/project_stats_views.py
  front/src/buildingComponentMonitoring/container/ViewBuildingComponentsProgressTotalsTable.jsx
  front/src/project/container/ViewProjectSocialAnalysisContent.jsx
  front/src/socialComponent/container/ViewSocialComponentsTrainingsTotalsTable.jsx
  front/src/socialComponent/presentational/SocialComponentsTrainingsTableFilterForm.jsx
Due: none

New entity for project work types
  back/app/admin/__init__.py
  back/app/admin/project_work_type_admin.py
  back/app/models/project_work_type.py
  scripts/data/fixtures_data.json
  scripts/data/folder_data/customization/agua.json
  scripts/data/folder_data/customization/agua_lluvia.json
  scripts/data/folder_data/customization/alcantarillado.json
  scripts/data/folder_data/customization/sanitarios.json
Due: prettier

Read project work type configuration from config file
  back/app/data/project/agua.json
  back/app/data/project/agua_lluvia.json
  back/app/data/project/alcantarillado.json
  back/app/data/project/sanitarios.json
  back/app/models/project_work.py
Due: prettier

Remove old project types from domains
  back/app/models/project_work.py
  back/app/models/project_work_type.py
  back/app/serializers/project_serializer.py
  back/app/serializers/project_work_serializer.py
  back/app/serializers/project_work_type_serializer.py
  back/app/urls.py
  back/app/views/project_viewset.py
  back/app/views/project_work_type_viewset.py
  back/domains/models.py
  front/src/project/service/ProjectWorkTypeService.js
  front/src/project/service/index.js
  front/src/sepraps/domain/provider/DomainProvider.jsx
  scripts/data/fixtures_data.json
Due: prettier

Fix problems related with label
  back/app/models/building_component.py
  back/app/serializers/project_serializer.py
  front/src/project/presentational/ProjectTypeClassChip.jsx
Due: none
